{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<h1>Xin chao!</h1>
<p>A Computer Science fanatic, who graduated from the University of York with passions in machine learning, data science and music!</p>
<p>Growing up with computers and technology around me, I’ve always had passions in computers. 
    Being exposed to programming at a young age made me realise early that I wanted to be a part of the team developing the future.
    Through the exposure to robotics and artificial intelligence in media, my dream is to develop systems and software that focus on helping others with AI.</p>

<p>I am primarily focused in the field of data science and machine learning with Python (NumPy, Pandas, Matplotlib, Pytorch libraries). 
    However, I have utilised Java and C# too, collaborating with other students to develop simplistic video games and working with the object-oriented programming paradigm as a whole. 
    Additionally, I have experience in C, C++, SQL, Haskell, collaborative technology and basic web design as well.</p>
{% endblock %}