{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}

<h1>Xin chao!</h1>

    <h2>Polish the Projects Page</h2>
        <p>
            <li>Add Bootstrap cards with hover effects.</li>
            <li>Include technology badges (Python, Flask, yada yada).</li>
            <li>Add screenshots or GIFs to showcase my projects.</li>
        </p>

    <h2>Enhance the Homepage</h2>
        <p>
            <li>Add Bootstrap cards with hover effects.</li>
            <li>Include technology badges (Python, Flask, yada yada).</li>
            <li>Add screenshots or GIFs to showcase my projects.</li>
        </p>

    <h2>Upgrade the About Me page</h2>
        <p>
            <li>Add skills section with progress bars or icons.</li>
            <li>Include a more in-depth timeline and/or short bio.</li>
            <li>Include a profile picture ... maybe.</li>
        </p>

    <h2>Improve footer</h2>
        <p>
            <li>Add icons for Github and Linkedin.</li>
            <li>Might be a good idae to add a back to top button</li>
            <li>Ensuring the footer looks good in both light/dark mode</li>
        </p>
            
{% endblock %}